<%- partial('_partial/preloader') %>
<%- partial('_partial/masthead') %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">        
            <%- partial('_partial/article', {post: page, index: false}) %>
        </div>
    </div>
</div>
            
