<!-- About Section -->
<section id="about" class="about-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">About Me</h2>

        <div class="row">

            <div class="col-sm-4 col-sm-push-8">
                <div class="biography">
                    <div class="myphoto">
                        <img src="images/myphoto2.jpg" alt="Shane Church">
                    </div>
                </div>
            </div>
            <!-- col-md-4 -->

            <div class="col-sm-8 col-sm-pull-4">
                <div class="short-info wow fadeInUp">
                    <p>I am a UX-focused software developer and architect specializing in JavaScript, HTML5, CSS3, C#, ASP.NET, and Node.js. I am currently working at Stine Seed as a Senior Software Engineer where I am responsible for working directly with end users to design and build full-stack web applications supporting research and sales using Angular, .NET Core, Elasticsearch, SQL Server as a primary stack.</p>
                    <p>Prior to starting at Stine Seed, I was working as a contract creative technologist on the user experience (UX) team at Nationwide Insurance from April to December 2016. I was responsible for building UI applications and prototypes for numerous internal projects and acting as the UX lead on some projects as well.</p>
                    <p>I moved to Des Moines, Iowa in July 2015 where I was the development supervisor for Two Rivers Marketing until February 2016. In this role, I was responsible for leading our internal development team, providing strategic and technical guidance to clients like Bobcat, John Deere, and Danfoss, managing projects with other vendors, as well as acting as a lead developer on internal projects.</p>
                    <p>Before moving to Iowa and joining Two Rivers Marketing, I was a senior software engineer at ShopAtHome.com where I worked on developing customer facing browser extensions for Chrome and Firefox using HTML, JavaScript, C#, and ASP.NET Web API. Throughout my career in senior software engineer, systems architect, and technical lead roles, I have developed important mobile and Web projects for clients, including the Department of Energy’s Rocky Flats Environmental Technology Site, Visa, Rambus, National Oilwell Varco, and more. I had an an article on developing hybrid mobile applications published in MSDN Magazine and I also have presented at Denver Startup Week and Experiencing UX in Des Moines.</p>
                    <p>I have two wonderful sons, Ethan, 7, and Colin, 2, with my beautiful wife, Andrea. I enjoy bicycling, baseball, and playing Lego with the boys, and I love to travel whenever the opportunity presents itself.</p>
                </div>

                <div class="short-info wow fadeInUp">
                    <h3>What I Do ?</h3>
                    <p>I am a UX-focused software developer and architect specializing in JavaScript, HTML5, CSS3, Node.js, C#, and ASP.NET.</p>

                    <ul class="list-check">
                        <li>HTML/CSS</li>
						<li>C#</li>
                        <li>JavaScript</li>
                        <li>Windows Phone</li>
                        <li>Node.js</li>
                        <li>Hybrid Mobile Applications</li>
                        <li>User Experience</li>
                        <li>and much more...</li>
                    </ul>
                </div>

                <div class="my-signature">
                    <img src="images/sign.png" alt="">
                </div>

                <div class="download-button">
                    <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-envelope-o"></i>Contact me</a>
                    <a class="btn btn-primary btn-lg" data-event-category="Download" data-event-action="resume" href="/resume.pdf" target="_blank"><i class="fa fa-download"></i>Download my resume</a>
                </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- End About Section -->
