<!-- About Section -->
<section id="about" class="about-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">About Me</h2>

    <div class="row">
      <div class="col-sm-4 col-sm-push-8">
        <div class="biography">
          <div class="myphoto">
            <img src="images/myphoto2.jpg" alt="Shane Church" />
          </div>
        </div>
      </div>
      <!-- col-md-4 -->

      <div class="col-sm-8 col-sm-pull-4">
        <div class="short-info wow fadeInUp">
          <p>
            I am a UX-focused software developer and architect specializing in
            JavaScript, HTML, CSS, C#, ASP.NET, and Node.js. I am currently a
            senior developer at Vermeer where I am the lead developer on number
            of projects, primarily involving product registration and regulatory
            compliance. I also serve as the UI expert, providing guidance and
            mentoring other developers on Vue.js, HTML, CSS, and JavaScript.
          </p>
          <p>
            Throughout my career in senior software engineer, systems architect,
            and technical lead roles, I have developed important mobile and Web
            projects for clients including Stine Seed, ShopAtHome.com,
            Nationwide Insurance, John Deere, Bobcat, Danfoss, the Department of
            Energy’s Rocky Flats Environmental Technology Site, Visa, Rambus,
            National Oilwell Varco, and more. I wrote an article on developing
            hybrid mobile applications that was published in MSDN Magazine. I
            also have presented at Denver Startup Week as well as Experiencing
            UX and dsmJs in Des Moines.
          </p>
          <p>
            I have two wonderful sons, Ethan, 10, and Colin, 5, with my
            beautiful wife, Andrea. I enjoy bicycling, baseball, and playing
            Lego with the boys, and I love to travel whenever the opportunity
            presents itself.
          </p>
        </div>

        <div class="short-info wow fadeInUp">
          <h3>What I Do ?</h3>
          <p>
            I am a UX-focused software developer and architect specializing in
            JavaScript, HTML5, CSS3, Node.js, C#, and ASP.NET.
          </p>

          <ul class="list-check">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Vue.js</li>
            <li>Angular</li>
            <li>C#</li>
            <li>Node.js</li>
            <li>Hybrid Mobile Applications</li>
            <li>User Experience</li>
            <li>and much more...</li>
          </ul>
        </div>

        <div class="my-signature">
          <img src="images/sign.png" alt="" />
        </div>

        <div class="download-button">
          <a class="btn btn-info btn-lg" href="#contact"
            ><i class="fa fa-envelope-o"></i>Contact me</a
          >
          <a
            class="btn btn-primary btn-lg"
            data-event-category="Download"
            data-event-action="resume"
            href="/resume.pdf"
            target="_blank"
            ><i class="fa fa-download"></i>Download my resume</a
          >
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- End About Section -->
