<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Get in touch</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-item center-block-sm">
                            <i class="fa-regular fa-envelope"></i>
                            <address>
                        <strong>Email</strong> 
                        <a href="mailto:shane@s-church.net" title="Email">shane@s-church.net</a>
                    </address>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-item center-block-sm">
                            <i class="fa-solid fa-mobile-screen"></i>
                            <div class="contact-info">
                                <strong>Phone Number</strong>
                                <a href="tel:+13039492700" title="Phone">(303) 949-2700</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-item center-block-sm">
                            <i class="fa-brands fa-twitter"></i>
                            <div class="contact-info">
                                <strong>Twitter</strong>
                                <a href="https://twitter.com/shaneschurch" target="_blank" title="Twitter">@shaneschurch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-item center-block-sm">
                            <i class="fa-brands fa-github"></i>
                            <div class="contact-info">
                                <strong>GitHub</strong>
                                <a href="https://github.com/churchs19" target="_blank" title="GitHub">churchs19</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="contact-item center-block-sm">
                            <i class="fa-brands fa-mastodon"></i>
                            <div class="contact-info">
                                <strong>Mastodon</strong>
                                <a href="https://masto.ai/@shaneschurch" target="_blank" title="Mastodon" rel="me" >@shaneschurch@masto.ai</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="contact-item center-block-sm">
                            <i class="fa-brands fa-facebook"></i>
                            <div class="contact-info">
                                <strong>Facebook</strong>
                                <a href="https://www.facebook.com/shanechurch62" target="_blank" title="Facebook">Shane Church</a>
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->