<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Get in touch</h2>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="contact-item center-block-sm">
              <i class="fa-solid fa-envelope"></i>
              <address>
                <strong>Email</strong>
                <a href="mailto:shane@s-church.net" title="Email"
                  >shane@s-church.net</a
                >
              </address>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="contact-item center-block-sm">
              <i class="fa-solid fa-mobile-screen"></i>
              <div class="contact-info">
                <strong>Phone Number</strong>
                <a href="tel:+13039492700" title="Phone">(303) 949-2700</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="contact-item center-block-sm">
              <i class="fa-brands fa-bluesky"></i>
              <div class="contact-info">
                <strong>Bluesky</strong>
                <a
                  href="https://bsky.app/profile/s-church.net"
                  target="_blank"
                  title="BlueSky"
                  >@s-church.net</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="contact-item center-block-sm">
              <i class="fa-brands fa-github"></i>
              <div class="contact-info">
                <strong>GitHub</strong>
                <a
                  href="https://github.com/churchs19"
                  target="_blank"
                  title="GitHub"
                  >churchs19</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="contact-item center-block-sm">
              <i class="fa-brands fa-facebook"></i>
              <div class="contact-info">
                <strong>Facebook</strong>
                <a
                  href="https://www.facebook.com/shanechurch62"
                  target="_blank"
                  title="Facebook"
                  >Shane Church</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
