<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Get in touch</h2>

        <div class="row center-xs">
            <div class="col-md-3 text-center">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <address>
                        <strong>Email</strong> 
                        <a href="mailto:shane@s-church.net">shane@s-church.net</a>
                    </address>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="contact-item">
                    <i class="fa fa-mobile"></i>
                    <div class="contact-info">
                        <strong>Phone Number</strong>
                        <a href="tel:+13039492700">(303) 949-2700</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="contact-item">
                    <i class="fa fa-twitter"></i>
                    <div class="contact-info">
                        <strong>Twitter</strong>
                        <a href="https://twitter.com/shaneschurch" target="_blank">@shaneschurch</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="contact-item">
                    <i class="fa fa-github"></i>
                    <div class="contact-info">
                        <strong>GitHub</strong>
                        <a href="https://github.com/churchs19" target="_blank">churchs19</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->