<!-- Footer Section -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
            <p><img src="/images/SCLogo-Transparent-36x50.png" alt="">&nbsp;&copy;&nbsp;<%= date(new Date(), 'YYYY') %>&nbsp;<%= config.author || config.title %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section -->