<!-- Footer Section -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
          Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section -->