    <!-- Hire Section -->
    <section id="hire-me" class="hire-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
      <div class="hire-section-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>I'm available for front-end and full-stack developer roles</h2>
              <a href="#contact" class="btn btn-default">Let's Talk!</a>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.hire-section-bg -->
    </section><!-- End Hire Section -->