<!-- Photos Section -->
<section id="photos" class="photos-section section-padding">
    <div class="container-fluid">
        <h2 class="section-title wow fadeInUp">Photos</h2>
        <div class="row">
            <ul class="grid">
            </ul>
        </div>
        <div class="row photos-links">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a class="btn btn-primary btn-lg" href="https://www.instagram.com/churchs19/" target="_blank"><i class="fa fa-instagram"></i>View More on Instagram</a><br/>
								<a href="http://wwwazure.s-church.net/PhotoAlbum" target="_blank"><i class="fa fa-picture-o"></i>Photo Archive</a>
            </div>
        </div>
    </div>
</section>
<!-- End Photos Section -->