<!-- Photos Section -->
<section id="photos" class="photos-section section-padding">
    <div class="container-fluid">
        <h2 class="section-title wow fadeInUp">Photos</h2>
        <div class="row">
            <ul class="grid">
            </ul>
        </div>
    </div>

</section>
<!-- End Projects Section -->
