<!-- Projects Section -->
<section id="projects" class="projects-section section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title wow fadeInUp">Projects</h2>

                <div class="projects-gallery js-flickity">
                    <div class="gallery-cell stirling-money">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 projects-gallery-column">
                                    <div class="device">
                                        <div class="device-content">
                                            <img src="/software/windowsphone/stirlingmoney/02.png" alt="Device Content Image">
                                        </div>
                                    </div>
                                    <h3>Stirling Money</h3>
                                    <p>Stirling Money replaces your checkbook register and does all of the math for you.</p>
                                    <h4>Features:</h4>
                                    <ul>
                                        <li class="hidden-sm hidden-xs">Manage multiple accounts </li>
                                        <li>Pin live tiles for direct access to an individual account </li>
                                        <li class="hidden-sm hidden-xs">Categorize transactions</li>
                                        <li>Plan and track budgets and financial goals </li>
                                        <li>Visualize your financial health and progress with a series of charts </li>
                                        <li>Search transactions to find individual transactions within an account </li>
                                        <li>Tap and hold to edit accounts, transactions, categories, budgets, and goals </li>
                                        <li class="hidden-sm hidden-xs">Backup to and restore from OneDrive </li>
                                        <li>Synchronize your data between family members so you can always know what your financial status is </li>
                                        <li class="hidden-sm hidden-xs">Full support for all Windows Phone 8 screen resolutions and tile sizes </li>
                                        <li class="hidden-sm hidden-xs">Machine translated into 37 languages</li>
                                    </ul>
                                    <a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535" target="_blank">
                                        <img src="/images/WindowsPhone_208x67_blu.png" alt="Download on Windows Phone" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-cell what-i-eat">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 projects-gallery-column">
                                    <div class="device">
                                        <div class="device-content">
                                            <img src="/software/windowsphone/whatieat/1.png" alt="Device Content Image">
                                        </div>
                                    </div>
                                    <h3>What I Eat</h3>
                                    <p>A simple food journal for Windows Phone</p>
                                    <p>Want to keep track of what you eat but don't want all of the calorie databases and granular measurements? What I Eat is the app for you! You control the granularity and timing of the entries, and you control what you see.</p>
                                    <ul>
                                        <li>Export data to Excel via OneDrive for further analysis!</li>
                                        <li>Color code and categorize entries by meal type.</li>
                                        <li class="hidden-sm hidden-xs">Optional synchronization with Windows Azure Mobile Services in preparation for a Windows 8/RT companion</li>
                                        <li class="hidden-sm hidden-xs">Full Windows Phone 8 Support</li>
                                        <li class="hidden-sm hidden-xs">Machine translated for broad localization!</li>
                                    </ul>
                                    <a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535" target="_blank">
                                        <img src="/images/WindowsPhone_208x67_blu.png" alt="Download on Windows Phone" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                </div>
            </div>
        </div>
    </div>
</section>
