<!-- Projects Section -->
<section id="projects" class="projects-section section-padding">
    <div class="container-fluid">
        <h2 class="section-title wow fadeInUp">Projects</h2>

        <div class="projects-gallery js-flickity">
            <div class="gallery-cell stirling-money">
                <div class="container">
                    
                </div>
            </div>
            <div class="gallery-cell"></div>
            <div class="gallery-cell"></div>
            <div class="gallery-cell"></div>
        </div>
    </div>
</section>
