<!-- Projects Section -->
<section id="projects" class="projects-section section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title wow fadeInUp">Projects</h2>

                <div class="projects-gallery js-flickity">
                    <div class="gallery-cell what-i-eat">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 projects-device-column">
                                    <div class="device">
                                        <div class="device-content">
                                            <img src="/software/windowsphone/whatieat/1.png" alt="What I Eat">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 projects-gallery-column center-sm">
                                    <a href="/WhatIEat/"><h3>What I Eat</h3></a>
                                    <p>A simple food journal for Windows Phone</p>
                                    <p>Want to keep track of what you eat but don't want all of the calorie databases and granular measurements? What I Eat is the app for you! You control the granularity and timing of the entries, and you control what you see.</p>
                                    <ul class="hidden-sm hidden-xs">
                                        <li>Export data to Excel via OneDrive for further analysis!</li>
                                        <li>Color code and categorize entries by meal type.</li>
                                        <li>Optional synchronization with Windows Azure Mobile Services in preparation for a Windows 8/RT companion</li>
                                        <li>Full Windows Phone 8 Support</li>
                                        <li class="hidden-sm hidden-xs">Machine translated for broad localization!</li>
                                    </ul>
                                    <a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535" target="_blank">
                                        <img src="/images/WindowsPhone_208x67_blu.png" alt="Download on Windows Phone" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-cell stirling-birthday">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 projects-device-column">
                                    <div class="device">
                                        <div class="device-content">
                                            <img src="/software/windowsphone/stirlingbirthday/01.WVGA.png" alt="Stirling Birthday">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 projects-gallery-column center-sm">
                                    <a href="/StirlingBirthday/"><h3>Stirling Birthday</h3></a>
                                    <p>Stirling Birthday displays your friends' upcoming birthdays on a beautiful live tile!</p>
                                    <ul class="hidden-sm hidden-xs">
                                        <li>Call, Text, or Email birthday greetings from the app</li>
                                        <li>Quickly see all birthdays upcoming in the next month, birthdays from the previous month, and all birthdays for all of your contacts</li>
                                        <li>Share your birthday greetings on social networks</li>
                                        <li>Full support for all Windows Phone tile sizes</li>
                                        <li>Fully localized into 38 languages</li>
                                    </ul>
                                    <a href="http://windowsphone.com/s?appid=b3f595ea-10ba-4b1c-8833-3b299078010d" target="_blank">
                                        <img src="/images/WindowsPhone_208x67_blu.png" alt="Download on Windows Phone" />
                                    </a>
                                    <div class="visible-sm visible-xs project-spacer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-cell stirling-money">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 projects-device-column">
                                    <div class="device">
                                        <div class="device-content">
                                            <img src="/software/windowsphone/stirlingmoney/02.png" alt="Stirling Money">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 projects-gallery-column center-sm">
                                    <a href="/StirlingMoney/"><h3>Stirling Money</h3></a>
                                    <p>Stirling Money replaces your checkbook register and does all of the math for you.</p>
                                    <h4 class="hidden-sm hidden-xs">Features:</h4>
                                    <ul class="hidden-sm hidden-xs">
                                        <li>Manage multiple accounts </li>
                                        <li>Pin live tiles for direct access to an individual account </li>
                                        <li>Plan and track budgets and financial goals </li>
                                        <li>Visualize your financial health and progress with a series of charts </li>
                                        <li>Search transactions to find individual transactions within an account </li>
                                        <li>Tap and hold to edit accounts, transactions, categories, budgets, and goals </li>
                                        <li>Backup to and restore from OneDrive </li>
                                        <li>Synchronize your data between family members so you can always know what your financial status is </li>
                                        <li>Machine translated into 37 languages</li>
                                    </ul>
                                    <a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535" target="_blank">
                                        <img src="/images/WindowsPhone_208x67_blu.png" alt="Download on Windows Phone" />
                                    </a>
                                    <div class="visible-sm visible-xs project-spacer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>