<section id="twitter" class="twitter-section section-padding">
    <div id="twitter-container" class="container">
<!--        <a class="twitter-timeline" 
            data-link-color="#49488E" 
            data-tweet-limit="5"
            data-chrome="transparent"
            href="https://twitter.com/shaneschurch?ref_src=twsrc%5Etfw">Tweets by shaneschurch</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>
</section>