<section id="twitter" class="photos-section section-padding">
  <div class="container-fluid">
    <h2 class="section-title wow fadeInUp">Latest Tweets</h2>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <a
          class="twitter-timeline"
          data-height="500"
          data-link-color="#49488e"
          href="https://twitter.com/shaneschurch?ref_src=twsrc%5Etfw"
          >Latest Tweets</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
</section>