<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <div class="biography">
        <div class="myphoto">
            <img src="/images/myphoto2.jpg" alt="Shane Church">
        </div>
    </div>
</div>
